Importar biblioteca pandas que segue o modelo excel dentro do python.

In [8]:
import pandas as pd

Upload do arquivo excel para iniciar o processo.

In [9]:
%time
tabela_original_df = pd.read_excel('tabela_original.xlsx')

Wall time: 0 ns

Validação das colunas de entrada, buscar campos vazios.

In [10]:
tabela_original_df[tabela_original_df['produto'].isnull()].head()

Empty DataFrame
Columns: [codigo, produto, codigo sap]
Index: []

Cria uma nova coluna concatenando os campos material e codigo sap.

In [11]:
tabela_original_df['descricao_concat'] = tabela_original_df['produto'].map(str) +' '+ tabela_original_df['codigo sap'].map(str)
tabela_original_df.head(4)

  codigo  produto codigo sap descricao_concat
0     07        1          A              1 A
1     F5        2          B              2 B
2      0        3          C              3 C
3     43        4          D              4 D

Cria uma nova coluna com base na analise de codigo original.

In [5]:
tabela_original_df.loc[tabela_original_df['codigo'].map(str) == '07', 'codigo_atualizado'] = '60M'
tabela_original_df.loc[tabela_original_df['codigo'].map(str) == 'F5', 'codigo_atualizado'] = 'BBM'
tabela_original_df.loc[tabela_original_df['codigo'].map(str) == '0', 'codigo_atualizado'] = ''
tabela_original_df.loc[tabela_original_df['codigo'].map(str) == '43', 'codigo_atualizado'] = '40kg'

Display simples para conferencia da tabela.

In [13]:
display(tabela_original_df)

   codigo  produto codigo sap descricao_concat
0      07        1          A              1 A
1      F5        2          B              2 B
2       0        3          C              3 C
3      43        4          D              4 D
4      07        1          A              1 A
5      07        1          A              1 A
6      07        1          A              1 A
7      07        1          A              1 A
8      07        1          A              1 A
9      07        1          A              1 A
10      1        6          D              6 D
11     07        1          A              1 A
12     F5        2          B              2 B
13      0        3          C              3 C
14     43        4          D              4 D
15     07        1          A              1 A
16     07        1          A              1 A
17     07        1          A              1 A
18     07        1          A              1 A
19     07        1          A              1 A
20     07        1          A              1 A
21      1        6          D              6 D

Export em um novo excel com os tratamentos realizados

In [7]:
tabela_original_df.to_excel(r'tabela _atualizado.xlsx', index = False)